@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap');

:root {
  --primary-color: #E74643;
  --primary-border-color: #E4E4E4;
  --secondary-color: #A9A9A9;
  --primary-input-focus-color: #04AA6D;
  --message-yellow-alert: #FDFCCE;
  --message-green-success: #D3EFDD;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif
}

.btn {
  display: block;
  text-decoration: none;
  color: white;
  text-align: center;
  padding-block: 12px;
  font-weight: bold;
  border-radius: 5px;
}

.messages-alert {
  color: black;
  border-radius: 5px;
  margin-top: 8px;
  margin-bottom: 12px;
}

.messages-alert__title {
  background: var(--message-yellow-alert);
  padding: 12px 8px;
  border-radius: 5px;
}

.messages-alert__title:not(:first-child) {
  margin-top: 8px;
}

.messages-flash__success {
  background: var(--message-green-success);
  padding: 12px 8px;
  border-radius: 5px;
  color: #678160;
  margin-block: 8px;
}
